
<link href="/css/style.css" rel="stylesheet" />
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-8 ">
                <div class="img-box">
                    <img src="/images/cute_one.jpg" alt="">
                </div>
            </div>
            <div class="col-4">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We Are CakePlease
                        </h2>
                    </div>
                    <p>
                        Thanks for visiting!





                        We hope you can find everything you need. Cake Café is focused on providing high-quality service and customer satisfaction - we will do everything we can to meet your expectations.



                        Our company is based on the belief that our customers' needs are of the utmost importance. Our entire team is committed to meeting those needs. As a result, a high percentage of our business is from repeat customers and referrals.



                        We would welcome the opportunity to earn your trust and deliver you the best service in the industry.



                        With a variety of offerings to choose from, we're sure you'll be happy working with us. Look around our website and if you have any comments or questions, please feel free to contact us.



                        We hope to see you again! Check back later for new updates to our website. There's much more to come!
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                +380 666295701
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                CakePlease@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        CakePlease
                    </a>
                    <p>
                        Look for us on social networks
                    </p>
                    <div class="footer_social">
                        <a href="https://uk-ua.facebook.com/" title="Facebook" target="_blank">


                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>
                                Facebook
                            </span>
                            <span>

                            </span>
                        </a>
                        <a href="https://twitter.com/?lang=uk" title="Twitter" target="_blank">


                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span>
                                |   Twitter
                            </span>
                        </a>
                        <a href="https://www.instagram.com/" title="Instagram" target="_blank">

                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span>
                                |   Instagram
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 - 18.00
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; 2022 All Rights Reserved By Anna Hus and Oksana Kosar
            </p>
        </div>
    </div>
</footer>
</footer>