@model IEnumerable<Product>

<div class="row pb-3">
    @foreach(var product in Model){
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                  <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                      <div class="card">
                          <img src="@product.ImageUrl" class="card-img-top rounded"/>
                          <div class="card-body">
                                <div class="pl-1">
                                    <p class="card-title h5 text-primary">@product.Name</p>
                                </div>
                                <div class="pl-1">
                                    <p class="card-title text-primary">Price : @product.Price uah</p>
                                </div>
                          </div>
                      </div>
                      <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
                              Details
                          </a>
                      </div>
                  </div>
            </div>
        </div>
    }
</div>

<link href="/css/style.css" rel="stylesheet" />
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                +380 666295701
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                CakePlease@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        CakePlease
                    </a>
                    <p>
                        Look for us on social networks
                    </p>
                    <div class="footer_social">
                        <a href="https://uk-ua.facebook.com/" title="Facebook" target="_blank">


                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>
                                Facebook
                            </span>
                            <span>

                            </span>
                        </a>
                        <a href="https://twitter.com/?lang=uk" title="Twitter" target="_blank">


                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span>
                                |   Twitter
                            </span>
                        </a>
                        <a href="https://www.instagram.com/" title="Instagram" target="_blank">

                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span>
                                |   Instagram
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 - 18.00
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; 2022 All Rights Reserved By Anna Hus and Oksana Kosar
            </p>
        </div>
    </div>
</footer>



@*<div class="text-center">
    <h1 class="display-4">Wellcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
